@import url('responsive-bcd.css');

html, body {
    height: 100%;
}

body {
    background-color: #ffffff;
    font-family: 'Vaud', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Vaud Bold', sans-serif;
    font-weight: bold;
    color: #333;
}

h1 {
	font-size: 40px;
}

h3 {
	color: #95a5a6;
	font-weight: 400;
}

.sidebar h3 {
    color: #231f20;
    font-weight: bold;
    margin: 20px 0 0;
}

h4 {
	color: #d58512;
	font-weight: 400;
	font-size: 20px;
}

/* Paragraph & Typographic */
p {
    line-height: 16px;
    margin-bottom: 20px;
    font-size: 14px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #3498db;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #d58512;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #06a885;
    margin: 1em 0.5em;
    padding: 0;
}

.navbar-default {
	background-color: #ecf0f1;
	border-color: transparent;
    border-bottom: 2px solid #e67e22;
}

.navbar-main {
    background-color: transparent;
    border-bottom: 0;
}

.navbar-default-side {
    background-color: transparent;
    border-color: transparent;
}

.side-menu {
    background-color: #e6e7e8
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-nav > li > a {
	color: black;
}

/* Helpers */

.mt, .mt2 {
    margin-top: 65px;
}

.mt3 {
    margin-top: 85px;
    margin-bottom: 20px;
}

.mt {
	margin-bottom: 40px;
}

.mt2 {
    margin-bottom: 0px;
}

.form-control {
	height: 42px;
	font-size: 18px;
}

.input-group .form-control {
    height: 32px;
}

i {
	margin: 8px;
	color: #3498db; 
}

.navbar .container {
    padding: 10px 0;
}

/* HeaderWrap */
#headerwrap {
    position: relative;
    top: 60px;
    width: 100%;
    height: 700px;
    background: url(../img/home-bg-compressed.jpg) no-repeat;
    background-size: cover;
}
#headerwrap .box {
    margin-top: 8%;
}
#headerwrap h1 {
	margin-top: 60px;
	margin-bottom: 15px;
	color: white;
	font-size: 45px;
	font-weight: bold;
	letter-spacing: 1px;
    text-shadow: 0px 2px 2px #000;
}

/* Footer */
#footer {
    position: relative;
    width: 100%;
    z-index: 99999;
    background-color: #06a885;
    border-top: 2px solid #e67e22;
    padding: 20px 10px;
    color: #ffffff;
}
#footer2 {
    border-top: 5px solid #06a885;
}
#footer footer {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
#footer-text {
    text-align: right;
}
#push, #footer {
    height: 80px;
}

/* Wrap */
#wrap, #wrap2 {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
#wrap {
    margin: 0 auto -60px;
}
.form-wrap {
    background-color: #fff;
}

/* Page */
.home-label {
    color: #d58512;
}

.dashboard-options {
    padding: 10px;
}

.dashboard-options:hover {
    background-color: #bdc3c7;
}

.result {
    font-size: 16px;
    line-height: 24px;
}

.acct_div {
  padding-bottom: 20px;
}

img.thumb {
    width: 180px;
}

.emphasize {
    font-weight: bold;
}

/* Side Menu 
* http://www.bootply.com/88026
*/
#sidebar {
    height: 100%;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #e6e7e8;
    border-right: 1px solid #EEE;
    padding-right: 0;
    padding-top: 20px;
}
#sidebar .nav {
  width: 95%;
}
#sidebar li a {
    color: #59595b;
}
/**/
#navbar-brand1 {
    display: none;
}
.active a {
    color: #d58512!important;
}
#employee-table {
    font-size: 13px;
}

.badge {
    margin-left: 5px;
    background-color: #E73636;
}

.dropdown-menu {
    background-color: #f8f8f8;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #E5E3E2;
}

.btn-delete {
    padding: 5px;
    color: #E73636;
    font-weight: bold;
    background-color: transparent;
    font-size: 16px;
}

.btn-delete:hover {
    color: #E73636;
}

.main {
    padding: 0 30px;
}
.form-header {
    border-bottom: 3px solid #f05926;
}
.form-msg {
    margin: 10px;
    padding: 20px;
}
.form-meta {
    border-top: 3px solid #f05926;
}
.form-title {
    margin-bottom: 5px;
}
.form-number {
    margin-top: 0;
    color: #231f20;
}
.form-inputs {
    padding: 0;
}
.form-label {
    font-style: italic;
}
.form-inputs input, .form-inputs textarea {
    border-radius: 0;
    margin: 5px 0;
    border: 0;
    font-size: 14px;
}
.form-inputs select {
    font-size: 14px;
}
.form .first, .form .meta-firsts {
    border-bottom: 2px solid #06a885;
}
.form .right {
    height: 100%;
    min-height: 320px;
}
.form .right, .form .right input {
    background-color: #e6e7e8;
}
.form-divider {
    padding: 50px 0;
}
#bcd-ci {
    margin: 0 30px
}
.row-fluid {
    clear: both;
}
#wrap .pagination > li > a, #wrap .pagination > .disabled > span, #wrap .pagination > .disabled > span:hover, #wrap .pagination > .disabled > span:focus, #wrap .pagination > .disabled > a, #wrap .pagination > .disabled > a:hover, #wrap .pagination > .disabled > a:focus {
    background-color: transparent;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #e67e22;
}

.nav-pills .active a {
    color: #333!important;
}

.nav-pills a {
    color: #e67e22;
}

.media-transaction {
    border-bottom: 1px solid #e3e3e3;
    position: relative;
    padding: 1em 0;
    margin-top: 0;
}

/* Transactions */
.stage-header {
    color: blue;
}
.status-header {
    color: red;
}

/* Modal */
.modal-header {
    background-color: #06a885;
}
.modal-title {
    color: #fff;
}

/* Breadcrumb */
.breadcrumb {
    background-color: transparent!important;
}
#breadcrumb-header-area {
    margin-top: 20px;
}
#breadcrumb-footer-area .breadcrumb li {
    font-size: 13px;
}
#breadcrumb-footer-area .breadcrumb li > a {
    color: #81520A;
}
#breadcrumb-footer-area .breadcrumb li.active {
    color: white;
}

/* Profile */
#profile-header {
    background-color: #e67e22;
    color: #fff;
}
#profile-header .container {
    padding: 0;
}
#profile-header p {
    margin-bottom: 0;
}
#profile-header #username, #profile-header #full-name {
    color: #fff;
}
/* Font */
@font-face {
    font-family: "Vaud";
    src: url(./fonts/VaudBook_0.ttf);
}

@font-face {
    font-family: "Vaud Bold";
    src: url(./fonts/VaudBold.ttf);
}

@font-face {
    font-family: "Vaud Italic";
    src: url(./fonts/VaudBookIt.ttf);
}

@font-face {
    font-family: "Vaud Bold Italic";
    src: url(fonts/VaudBoldIt.ttf);
}

@font-face {
    font-family: "Vaud Black";
    src: url(fonts/VaudBlack.ttf);
}